[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
certifi = "*"
django-ordered-model = "*"
pipenv = "*"
pytz = "*"
virtualenv = "*"
virtualenv-clone = "*"
whitenoise = "*"
Django = "*"
requests = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-bower = "*"
django-scheduler = "*"
workalendar = "*"
coverage = "*"
graphene-django = "*"
django-graphql-jwt = "*"

[dev-packages]
