-i https://pypi.python.org/simple/
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.3
dj-database-url==0.5.0
django-bower==5.2.0
django-debug-toolbar==2.2.1
django-extensions==2.1.9
django-heroku==0.3.1
django-ordered-model==3.1.1
django-scheduler==0.8.8
django==2.2.3
ephem==3.7.7.1
gunicorn==19.9.0
icalendar==4.0.7
idna==2.8
lunardate==0.2.0
pipenv==2018.11.26
psycopg2-binary==2.8.3
psycopg2==2.8.6
pycalverter==1.6.1
pyluach==1.2.1
python-dateutil==2.8.1
pytz==2019.1
requests==2.22.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.11
virtualenv-clone==0.5.3
virtualenv==16.6.1
whitenoise==4.1.2
workalendar==5.1.1
