.calendar-event {
    background-color: #1e87f0;
    color: #fff;
    width: 100%;
    padding: 2px;
    min-height: 28px;
    text-align: center;
    margin: 5px 0 5px 0;
    display: block;
}

.calendar-event:hover {
    color: #fff;
}

.calendar-event-hidden {
    min-height: 28px;
    margin: 5px 0 5px 0;
    display: block;
    visibility: hidden;
}

.day-table-cell {
    display: flex;
}

.today {
    font-weight: bold;
}

.multi-day-start {
    border-radius: 14px 0 0 14px;
    margin: 5px 0 5px 30px;
}

.multi-day-end {
    border-radius: 0 14px 14px 0;
}

.single-day-event {
    border-radius: 14px;
    margin: 5px 0 5px 30px;
}

td {
    padding: 0;
}

a:hover {
    text-decoration: none;
}