{% extends "list/base.html" %}

{% block auth %}{% endblock auth %}


{% block content %}
    <div class="uk-container uk-inline uk-width-1-1">
        <div class="uk-align-center uk-width-large">
            {% if form.errors %}
                <p class="uk-text-center">Your username and password didn't match. Please try again.</p>
            {% else %}
                <p class="uk-text-center">Please enter account information to sign in.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p class="uk-text-center">Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p class="uk-text-center">Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form class="uk-align-center" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table class="login-table">

                    <tr>
                        <td class="username-label">{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td class="password-label">{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="uk-button uk-button-primary" type="submit" value="Login"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock content %}