{% extends "common/base.html" %}

{% block content %}
    {% block logged_in_hidden %}{% endblock %}
    {% block logged_in %}{% endblock %}
    <form class="form reset-password-form" action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <table class="reset-password-table">
            <tr>
                <td class="email-label">
                    {{ form.email.label }}:
                </td>
                <td>
                    {{ form.email }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="" value="Reset password"></td>
            </tr>
        </table>
    </form>
{% endblock %}