{% extends 'common/base.html' %}
{% load i18n static %}

{% block extra_extra_head %}
    {% block extra_head %}
    {% endblock extra_head %}
{% endblock extra_extra_head %}

{% block content %}
    <body>
    <div id="body">
        {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"><a href="#"
                                                              onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;">
                        <small>{% trans "clear" %}</small>
                    </a> {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block body %}
        {% endblock %}

        {% block extra_scripts %}
        {% endblock %}

    </div>
    </body>
{% endblock content %}