<!doctype html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block page_title %}LT&D Priority List{% endblock page_title %}</title>
        <meta name="description" content="LT&D Priority List">
		<meta name="author" content="Daniel Hayes">
        <meta http-equiv="refresh" content="300">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'uikit.theme.css' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="{% static 'list/style.css' %}"/>
        {% block extra_extra_head %}{% endblock %}
	</head>
	<body>
    <nav class="uk-navbar-container uk-text-bold" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-large" href="{% url 'list:priority-list' %}">Priority List</a></li>
                <li><a class="uk-text-large" href="{% url 'vacation:calendar' %}">Vacation Calendar</a></li>
            </ul>
        </div>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-large" href="{% url 'list:priority-list' %}">LT&D </a></li>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <div class="uk-navbar-right">
                {% block navbar-app-links %}
                {% endblock navbar-app-links %}
            </div>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock content %}

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="{% static 'common/jquery-ui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="{% static 'uikit.min.js' %}"></script>
    <script src="{% static 'uikit-icons.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'list/jquery_sortable.js' %}"></script>
    <script src="{% static 'list/script.js' %}"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
	</body>
</html>