{% extends 'list/list_base.html' %}

{% block links %}
    <a class="button" href="{% url 'list:priority-list' %}">Priority List</a>
    <a class="button" href="{% url 'list:archive-view' %}">Finished Jobs</a>
{% endblock links %}
{% block content %}
	<div class="form center-form-container">
		<h3>Add Customer</h3>
        <form action="{% url 'list:add_customer' %}?next={{ next_url }}?cust={{ current_customer }}" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{{ form.name.errors }}
			{{ form.name.label_tag }}
			{{ form.name }}
			<br />
            <input id="customer_add" type="submit" value="Submit">
		</form>
	</div>
{% endblock content %}