{% extends 'common/base.html' %}

{% block navbar-app-links %}
    <ul class="uk-navbar-nav">
        <li class="{% block priority_list_active %}{% endblock %}"><a href="{% url 'list:priority-list' %}">Priority
            List</a></li>
        <li class="{% block archive_list_active %}{% endblock %}"><a href="{% url 'list:archive-view' %}">Archive</a></li>
        <li><a href="{% url 'list:search' %}"><span uk-icon="search"></span></a></li>

        <li>
            <a href="#">{{ user.username|title }}</a>
            <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><a href="{% url 'list:profile' user.profile.id %}">Profile</a></li>
                    <li><a href="{% url 'list:profile-edit' user.profile.id %}">Edit Profile</a></li>
                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock navbar-app-links %}

{% block content %}
{% endblock content %}