.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: DodgerBlue;
	flex-direction: row;
	justify-content: center;
}

.flex-container > .machine-section, .flex-container > .job-detail {
	background-color: #f1f1f1;
    width: 48%;
	margin: 10px;
	text-align: left;
}

.job-detail {
    padding: 10px;
}

.archive {
    flex-direction: column;
}

.pagination {
    flex-direction: row;
    justify-content: center;
    background-color: #f1f1f1;
    margin: 10px auto 10px auto;
    padding: 0 10px 0 10px;
    border: 1px solid #000;
}

.pagination > div {
    padding: 0 2px 0 2px;
}

.disabled {
    display: none;
}

.button {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    padding: 2px 6px 2px 6px;
    /*border: 1px solid black;*/
}

.button:hover {
    text-decoration: none;
    color: white;
}

h1, h3 {
	text-align: center;
}

.title {
	width: 60%;
}

.hidden {
	visibility: hidden;
	white-space: nowrap;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.job-table {
    margin: 2px 2px 20px 2px;
    width: -webkit-fill-available;
    width: -moz-fill-available;
}

.job-table tr:nth-child(even) {
    background-color: #fff;
}

.job-table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

.archive-table {
    width: 80%;
    margin: 10px auto 0 auto;
    border: 1px solid #000;
}

.archive-table th, .archive-table td {
    padding: 1px 10px 1px 10px;
}

.archive-table tr:nth-child(even) {
    background-color: #fff;
}

.archive-table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

th {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    /*min-width: 60px;*/
}

td {
    min-height: 50px;
}

.job-detail-link {
    display: block;
    text-decoration: none;
    color: black;
}

.job-detail-link:hover {
    text-decoration: none;
    color: black;
}

.job-row:hover {
    box-shadow: 2px 2px darkgray;
    transform: translateY(2px);
    z-index: 1000;
}

.table-title {
	font-weight: bold;
    padding: 1px 3px;
}

.add-another, .add-another:hover {
	text-decoration: none;
}

.job-item {
	display: inline-block;
	width: 350px;
}

.empty-job-list {
    padding-left: 40px;
}

.tools {
    text-align: center;
}

.delete-form, .sort-up-link, .sort-down-link, .edit-link {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.delete-button, .sort-up-button, .sort-down-button, .sort-up-button-placeholder, .edit-button {
	width: 15px;
	height: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
	background-size: cover;
	cursor: pointer;
}

.sort-up-button-placeholder {
	cursor: default;
}

.sort-up-button {
	background-image: url('img/sort-up.svg');
}

.sort-down-button {
	background-image: url('img/sort-down.svg');
}

.delete-button {
	background-image: url('img/icon-deletelink.svg');
}

.edit-button {
	background-image: url('img/icon-changelink.svg');
}

.add-job-form {
    padding: 0 0 40px 40px;
    position: relative;
    bottom: 0%;
}

.auth, .hidden {
	width: 20%;
	text-align: right;
	padding-right: 10px;
}

.nav-bar {
	width: 100%;
}

.form {
	margin: 20px auto 0 auto;
	padding: 10px;
	box-shadow: 2px 2px 1px darkgrey;
	border: 1px solid lightgrey;
}

.login-form-container, .center-form-container {
	width: 375px;
}

.reset-password-form {
    width: 375px
}

.password-reset-complete {
    width: 500px
}

.password-reset-link {
    text-align: right
}

.job-edit-form-container {
	width: 500px;
}

.login-table {
	width: 100%;
}

.instructions {
	text-align: center;
}

.add-job-form > div > span > label {
	width: 95px;
}

.edit-job-form > div > span > label {
	width: 95px;
}

.login-form {
	overflow: hidden;
}

.form-submit {
	float: right;
}

.lost-password {
	text-align: right;
}

/*noinspection CssInvalidPropertyValue*/
#id_username, #id_password {
	width: -webkit-fill-available;
	width: -moz-fill-available;
}

#id_description {
	width: 250px;
}


#id_customer {
	width: 250px;
}

.True {
	background-color: yellow;
}

.False {
	background-color: green;
}